importFrom("stats", "runif", "sd")
import("graphics")

export(train.hdgsom)
export(train_xy.hdgsom)
export(map.hdgsom)
export(predict.hdgsom)

useDynLib(hdgsom)

S3method(plot, hdgsom)
S3method(print, hdgsom)
S3method(summary, hdgsom)
S3method(predict, hdgsom)
